{
  "development": {
    "username": "testuser",
    "password": "test1234",
    "database": "test",
    "host": "127.0.0.1",
    "port": 5432,
    "dialect": "postgres",
    "logging": true,
    "force": true,
    "timezone": "+00:00"
  },
    "test": {
    "username": "testuser",
    "password": "test1234",
    "database": "test",
    "host": "127.0.0.1",
    "port": 5432,
    "dialect": "postgres",
    "logging": true,
    "force": true,
    "timezone": "+00:00"
  },
  "production": {
    "username": "testuser",
    "password": "test1234",
    "database": "test",
    "host": "127.0.0.1",
    "port": 5432,
    "dialect": "postgres",
    "logging": true,
    "force": true,
    "timezone": "+00:00"
  }
}