.chat-window {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  height: 90%;
  width: min(70%, 1500px);
  box-shadow: 0px 0px 7px 1px rgba(156, 229, 247, 0.8);
  border-radius: 10px;
}
