.chat-window {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 2em;
  max-height: 100vh;
  width: 100%;
  background: linear-gradient(
    to bottom left,
    var(--primary-color),
    var(--secondary-color)
  );

  border-radius: 10px;
}
.roomTitle{
  color: var(--text-color);
}
.participant{
  padding-top: 0.3rem;
  color: var(--text-color);
  font-weight: 200;
}
.roomHeading{
  background-color: var(--secondary-color);
  width: 100%;
  padding: 1.2rem;
  display: flex;
  justify-content: space-evenly;
}