.message {
  padding: 1em;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  width: 95%;
}

.message-user-image {
  height: 50px;
  width: 50px;
}

.message-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text-color);
}

.message-user-name {
  font-weight: 700;
  color: var(--username-color);
}
